
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h1>There's an error. Please go back to the home page</h1>

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="submit" value="Home Page" />
</form>

